body {
  margin: 0;
  background-color: #ccc;
  user-select: none;
}

.page-container {
  justify-items: center;
  max-width: 1200px;
  padding: 10px 2vw;
  margin: auto;
  max-width: 700px;
  background-color: azure;
  border-radius: 50px 0 10px 10px;
}

.main-heading-div {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border: 2px solid black;
  border-top-left-radius: 52px;
  padding: 2px;
  text-align: center;
  align-items: center;
}

.heading-photo1-div{
  max-height: 350px;
  position: relative;
  width: 100%;
}

.heading-photo {
  width: 100%;
  height: auto;
  border-radius: 50px 0 50px 0;
}

.icon {
  width: 18vw;
  position: absolute;
  max-width: 120px;
  border-radius: 50%;
  top: 5%;
  right: 5%;
}

.brand-name {
  margin-top: -1.5rem;
  width: 100%;
  padding-right: 4rem;
}

.page-name {
  color: rgb(7, 70, 7);
  font-size: 1.7rem;
  font-weight: bold;
  text-align: right;
}

.page-description {
  color: rgb(19, 82, 19);
  font-size: 1rem;
  font-weight: 600;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
  text-align: right;
}

button{
  background-color: rgb(7, 98, 7);
  border: 1px solid rgb(7 98 7);
  padding: 15px 25px;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  font-weight: bold;
}

button:hover {
  background-color: beige;
  color: rgb(7, 98, 7);
  border: 1px solid rgb(7, 98, 7);
  font-weight: bold;
  transition: 0.3s ease;
}

button:active {
  padding: 15px 28px;
  color: rgb(11, 183, 11);
}

.introduction-div {
  text-align: center;
  padding: 20px 10px;
  border: 2px solid black;
  border-top-width: 0;
  background-color: rgb(59, 96, 59);
}

  .page-video video {
    width: 100%;
    max-width: 550px;
    height: auto;
  }

  .about-page {
    font-size: large;
    text-align: justify;
    margin-top: 10px;
    padding: 0 15px;
    color: rgb(255, 244, 230);
  }

.whyMMA-div {
  text-align: center;
  padding: 20px 10px;
  color: rgb(5, 76, 5);
}

  .whyMMA {
    margin-bottom: 20px;
  }
  
  .whyMMA img.icon1 {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
  }
  .whyMMA h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0 5px 0;
  }

  .whyMMA p {
    margin-top: 0.3rem;
    font-size: 1.1rem;
  }

.our-services-box {
  border: 2px solid black;
  border-radius: 20px;
  background-color: blanchedalmond;
  color: rgb(5, 76, 5);
}

.h2 {
text-align: center;
}

.our-services-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
  .our-services {
    border: solid green 1px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    max-width: 200px;
  }
  .our-services img {
    width: 100%;
    height: 220px;
    border-radius: 5px;
  }
  .our-services p {
    text-align: justify;
    font-size: 0.95rem;
    border: 1.2px solid rgba(0, 128, 0, 0.3);
    padding: 5px;
    margin-top: 8px;
    border-radius: 5px;
  }

.nuru-play {
  text-align: justify;
  padding: 10px 20px;
}
  .nuru-play h2 {
    margin-bottom: 5px;
  }
  .nuru-play h4 {
    margin-top: 5px;
  }

  .nuru-play h2,
  .nuru-play h4 {
    text-align: center;
  }

.faq {
  max-width: 800px;
  margin: auto;
  text-align: justify;
}

.faq h2 {
  text-align: center;
}

.faq-question {
  background: rgb(8, 113, 8);
  color: #ffffff;
  padding: 15px;
  width: 100%;
  margin: 0;
  text-align: left;
  border: none;
  border-radius: 0;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.faq-answer {
  display: none;
  padding: 15px;
  background: #fff;
  border-left: 3px solid rgb(11, 183, 11);
}

.faq-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.map-section {
  margin: 2rem auto;
  text-align: center;
  width: 80vw;
  border: 2px solid bisque;
  border-radius: 10px;
  padding: 0 15px 15px 15px;
}

.map-container iframe {
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.countdown-section {
  text-align: center;
  margin: 2rem auto;
  color: blue;
}

.countdown-section p {
  font-weight: bold;
}

.countdown-timer {
  font-size: 4rem;
  font-weight: bold;
  color: whitesmoke;
  background-color: rgb(197, 7, 7);
  border-radius: 8px;
  box-shadow: 0 4px 13px rgba(34, 34, 34, 0.5);
  margin-bottom: 20px;
}


.gallery {
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 40px;
  background-color: blanchedalmond;
}

.contact-us {
  text-align: center;
  font-size: larger;
}

.contact-us p {
  margin-top: -10px;
  color: rgb(8, 71, 8);
  font-size: large;
}

.contact-us button {
  padding: 15px 35px;
  margin: 0 10px 30px 5px;
}

.contact-us button:active {
  padding: 15px 36px;
}

footer {
  width: 100%;
  height: 100px;
  margin-top: 40px;
  text-align: center;
  background-color: bisque; 
}

.footer-div{
  position: relative;
  padding: 15px 0 30px 0;
}

footer img {
  width: 25vw;
  position: absolute;
  max-width: 120px;
  border-radius: 10%;
  top: -50%;
  right: 5%;
  opacity: 0;
  transition: opacity 1s;
}

footer p {
  font-size: large;
  font-weight: bold;
  color: rgb(7, 70, 7);
}

footer nav a {
  margin: 0 10px;
  color: rgb(7, 70, 7);
  text-decoration: none;
}

footer nav a:hover {
  color: rgb(120, 118, 118);
}

/* Tablet screen size*/
@media screen and (min-width: 768px) {
  .our-services-div {
    justify-content: space-around;
  }

  .main-heading-div {
    flex-direction: column;
  }

  .page-name, .page-description {
    margin-left: 0;
  }

  .map-section {
    max-width: 65vw;
  }

  footer img {
    width: 25vw;
    position: absolute;
    max-width: 120px;
    border-radius: 10%;
    top: -30%;
    right: 3%;
    opacity: 1;
  }
}

/* Desktop screen size */
@media screen and (min-width: 1024px) {
  .main-heading-div {
    padding: 2px;
    text-align: center;
    align-items: center;
  }

  .introduction-div {
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
  }

  .intro-video {
    flex: 1;
  }

  .about-page {
    flex: 1;
    padding: 0 40px;
  }

  .our-services-div {
    justify-content: space-around;
  }

  .heading-photo1-div {
    max-height: 350px;
  }

  .map-section {
    max-width: 50vw;
  }

  footer img {
    width: 25vw;
    position: absolute;
    max-width: 120px;
    border-radius: 10%;
    top: -30%;
    right: 3%;
    opacity: 1;
  }
}

/*  BOOKING PAGE CSS CODES  */

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: auto;
  color: rgb(7, 70, 7);
}

.booking-div {
  color: rgb(7, 70, 7);
}

.booking-form input,
.booking-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*  NAVIGATION CSS CODES  */

.navbar {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px 0 30px;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-left: 10px;
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0 0 0 2.5rem;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0px 5px;
}

.nav-links a:hover {
  font-size: large;
  color: bisque;
  transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: row;
    width: 20%;
    position: absolute;
    top: 1.2rem;
    left: 2rem;
    padding: 0;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-toggle {
    display: block;
  }
}

.legal-box {
  border: 2px solid black;
  border-radius: 20px;
  background-color: blanchedalmond;
  color: rgb(5, 76, 5);
  padding: 10px 20px 15px  20px;
  text-align: justify;
}

.legal-box h1, .p-date {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.home-toggle .tool-tip {
  position: absolute;
  top: 6rem;
  left: 1rem;
  width: 8%;
  color: white;
  background-color: rgba(203, 202, 202, 0.5);
  border-radius: 5px;
  padding: 3px 10px;
  opacity: 0;
  transition: opacity 0.15s ease-in;
  pointer-events: none;
}

.home-toggle:hover .tool-tip,
.home-toggle2:hover .tool-tip {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .home-toggle .nav-toggle {
    display: block;
  }
}

.home-toggle2 .tool-tip {
  position: absolute;
  top: 4.5rem;
  left: 2rem;
  width: 8%;
  color: rgb(115, 110, 110);
  background-color: rgba(249, 249, 234, 0.5);
  border-radius: 5px;
  padding: 3px 10px;
  opacity: 0;
  transition: opacity 0.15s ease-in;
  pointer-events: none;
}

.home-toggle2 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(7, 70, 7);
  background-color: blanchedalmond;
  border: 1px solid rgba(255, 255, 255, 0.854);
  padding: 10px 15px;
  border-radius: 15px;
}

.home-toggle2 a:hover{
  color: rgb(112, 107, 107);
  background-color: beige;
  border: 1px solid rgba(7, 98, 7, 0.4);
  transition: color 0.3s ease;
}

.cookie-banner {
  position: fixed; 
  bottom: 8vw; 
  left: auto; 
  right: auto; 
  background-color: #222; 
  border-radius: 10px;
  color: #fff; 
  padding: 20px 20px 0 20px; 
  text-align: center; 
  display: none;
}
